<label>Title</label>
<input type="text" name="title" value="<%= book.title %>" />

<label>Author</label>
<select name="author">
    <% authors.forEach(author => { %>
        <% if (author.id === book.author) { %>
          <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
          <option label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
      <% }) %>
</select>


<!-- If we go on new author and we pass the value inside the input
 and hit create , the name will be send to our create route. -->
<!-- we need to install body parser to access the input elements
from our server -->
<!-- Insert all the book fields accordingly to our schema -->
